
<head>
<title>Tabla Docentes</title>
<meta charset="utf-8">
<meta name="author" content="apohua">

</head>
<body>
	<table border="">
		<tr>
			<th>Docente</th>
			<th>Semestre Académico</th>
			<th>N° Horas Semanales</th>
		</tr>
		<tr>
			<td><input type="text" name="nombre" value="Fredy Barrientos" /></td>
			<td>2019 I</td>
			<td>16</td>
		</tr>
		<tr>
			<td><input type="text" name="nombre" value="Damariz Solier"/></td>
			<td>2019 I</td>
			<td>12</td>
		</tr>
		
	</table>
	<tfoot>Tabla N° 1:“Carga académica de docentes en horas”</tfoot>
</body>
</html>
